NET "DADOS_LCD<0>" LOC = p58;
NET "DADOS_LCD<1>" LOC = p74;
NET "DADOS_LCD<2>" LOC = p59;
NET "DADOS_LCD<3>" LOC = p75;
NET "DADOS_LCD<4>" LOC = p85;
NET "DADOS_LCD<5>" LOC = p76;
NET "DADOS_LCD<6>" LOC = p86;
NET "DADOS_LCD<7>" LOC = p77;
NET "EN_LCD" LOC = p88;
NET "RS_LCD" LOC = p94;
NET "CLK" LOC =p54;
NET "STOP_START" LOC =p6;
NET "PROG_CONT" LOC =p10;
NET "UP_DOWN" LOC =p12;
NET "VEL1_VEL2" LOC =p18;
NET "RESET" LOC =p24;
NET "AJUSTE_TEMPO<3>" LOC = p47;
NET "AJUSTE_TEMPO<2>" LOC = p41;
NET "AJUSTE_TEMPO<1>" LOC = p69;
NET "AJUSTE_TEMPO<0>" LOC = p48;






