//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 19 20:22:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P54" LEVEL 1;
COMP "UP_DOWN" LOCATE = SITE "P12" LEVEL 1;
COMP "PROG_CONT" LOCATE = SITE "P10" LEVEL 1;
COMP "DADOS_LCD<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "DADOS_LCD<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "DADOS_LCD<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "DADOS_LCD<3>" LOCATE = SITE "P75" LEVEL 1;
COMP "DADOS_LCD<4>" LOCATE = SITE "P85" LEVEL 1;
COMP "DADOS_LCD<5>" LOCATE = SITE "P76" LEVEL 1;
COMP "DADOS_LCD<6>" LOCATE = SITE "P86" LEVEL 1;
COMP "DADOS_LCD<7>" LOCATE = SITE "P77" LEVEL 1;
COMP "RESET" LOCATE = SITE "P24" LEVEL 1;
COMP "AJUSTE_TEMPO<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "AJUSTE_TEMPO<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "AJUSTE_TEMPO<2>" LOCATE = SITE "P41" LEVEL 1;
COMP "AJUSTE_TEMPO<3>" LOCATE = SITE "P47" LEVEL 1;
COMP "EN_LCD" LOCATE = SITE "P88" LEVEL 1;
COMP "STOP_START" LOCATE = SITE "P6" LEVEL 1;
COMP "RS_LCD" LOCATE = SITE "P94" LEVEL 1;
COMP "VEL1_VEL2" LOCATE = SITE "P18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

