NET "CLK" LOC = p54;
NET "DO" LOC = p91;
NET "CS1" LOC = p92;
NET "CS_AD" LOC = p87;
NET "BAR_DADOS_LCD<7>" LOC = p58;
NET "BAR_DADOS_LCD<6>" LOC = p74;
NET "BAR_DADOS_LCD<5>" LOC = p59;
NET "BAR_DADOS_LCD<4>" LOC = p75;
NET "BAR_DADOS_LCD<3>" LOC = p85;
NET "BAR_DADOS_LCD<2>" LOC = p76;
NET "BAR_DADOS_LCD<1>" LOC = p86;
NET "BAR_DADOS_LCD<0>" LOC = p77;
NET "EN_LCD" LOC = p88;
NET "RS_LCD" LOC = p94;