//! **************************************************************************
// Written by: Map O.61xd on Mon Nov 05 19:15:52 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SEGM7<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "SEGM7<6>" LOCATE = SITE "P25" LEVEL 1;
COMP "CLK_TEC" LOCATE = SITE "P96" LEVEL 1;
PIN CLK_TEC_pin<0> = BEL "CLK_TEC" PINNAME PAD;
PIN "CLK_TEC_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "DADO_TEC" LOCATE = SITE "P97" LEVEL 1;
COMP "SEGM7<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "SEGM7<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "SEGM7<2>" LOCATE = SITE "P20" LEVEL 1;
COMP "SEGM7<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "SEGM7<4>" LOCATE = SITE "P23" LEVEL 1;
NET "CLK_TEC_BUFGP/IBUFG" BEL "CLK_TEC_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

