NET "IN_LCD<0>" LOC = p58;
NET "IN_LCD<1>" LOC = p74;
NET "IN_LCD<2>" LOC = p59;
NET "IN_LCD<3>" LOC = p75;
NET "IN_LCD<4>" LOC = p85;
NET "IN_LCD<5>" LOC = p76;
NET "IN_LCD<6>" LOC = p86;
NET "IN_LCD<7>" LOC = p77;
NET "EN" LOC = p88;
NET "RS" LOC = p94;
NET "CLK" LOC = p54;